@charset "UTF-8";
/* 
font-family: 'IM_Hyemin-Regular';
font-family: 'IM_Hyemin-Bold';
font-family: 'Mochiy Pop P One', sans-serif;
 */

header .h_right nav ul.gnb li:nth-child(2) a {color: #f8ec59;}
.menu ul li:nth-child(2) a {color: #f8ec59;}
.background {
    width: 100%; 
    height: 385px;
    background-image: url(../image/comp2.gif);
    background-attachment: fixed;
}
.background h1 {font-size: 80px; color: #000;}

div.tit {
    width: 100%; /* height: 13vh;  */ height: 126px;
    background-color: #ffca58; 
    display: flex; justify-content: center; align-items: center;
    position: relative;
}
div.tit section.con {
    height: 60%; box-sizing: border-box; border-bottom: 2px solid #666;
    display: flex; justify-content: space-evenly; align-items: center;
}
div.tit section.con h2 {
    width: 70%; margin-left: 2.5%; margin-right: 2.5%; padding: 25px 0;
    font-size: 40px; text-align: center; font-family: 'IM_Hyemin-Bold'; word-break: keep-all;
}
div.tit section.con a {
    /* width: 5%; */ margin: 0 2.5%; 
    font-size: 30px; text-align: center; line-height: 1.5;
    opacity: 0.6; transition: all 0.3s;
}
div.tit section.con a:hover {opacity: 1; position: relative;}
div.tit section.con a:hover::after {content: "링크"; width: 40px; font-family: 'IM_Hyemin-Regular'; font-weight: bold; position: absolute; right: 50%; bottom: -32%; transform: translateX(50%); font-size: 14px;}
div.tit section.con > i.on {
    display: block; 
    /* width: 5%; */ margin: 0 2.5%; 
    font-size: 40px; text-align: center; 
    cursor: pointer; 
    opacity: 0.6; transition: all 0.3s;
}
div.tit section.con > i.on:hover {opacity: 1; position: relative;}
div.tit section.con > .fa-angle-up:hover::after {content: "접기"; width: 40px; font-family: 'IM_Hyemin-Regular'; font-weight: bold; position: absolute; right: 50%; bottom: -32%; transform: translateX(50%); font-size: 14px;}
div.tit section.con > .fa-angle-down:hover::after {content: "펼치기"; width: 50px; font-family: 'IM_Hyemin-Regular'; font-weight: bold; position: absolute; right: 50%; bottom: -32%; transform: translateX(50%); font-size: 14px;}
div.tit section.con > i {display: none;}
div.wrap {display: flex; flex-wrap: wrap;}
div.wrap .img_box {width: 50%; display: flex; justify-content: center; align-items: center;}
div.wrap .img_box img {width: 80%; margin: 10% 0; border: 2px solid #81662c;}
div.wrap .txt_box {
    width: 50%; 
    display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; flex-direction: column; 
}
div.wrap .txt_box section {
    width: 90%; /* background-color: burlywood; */
    text-align: center; font-family: 'IM_Hyemin-Regular'; font-weight: bold;
    display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center; flex-direction: column;
}
div.wrap .txt_box section h3{font-size: 30px; font-family: 'IM_Hyemin-Bold'; padding: 4% 0;}
div.wrap .txt_box section p{font-size: 20px; line-height: 1.3; color: #444; word-break: keep-all;}

div.wm .txt_box {height: 802px; padding: 7% 0; box-sizing: border-box;}
/* div.music .txt_box section.exp {height: 20%;}
div.music .txt_box section.font {height: 20%;}
div.music .txt_box section.color {height: 20%;}
div.music .txt_box section.design{height: 34%;} */

div.wc .txt_box {height: 1385px; padding: 7% 0; box-sizing: border-box;}
/* div.car .txt_box section.exp {height: 20%;}
div.car .txt_box section.font {height: 20%;}
div.car .txt_box section.color {height: 20%;}
div.car .txt_box section.logo {height: 20%;}
div.car .txt_box section.design{height: 20%;} */

div.wa .txt_box {height: 390px;}
/* div.ani .txt_box section {height: 40%;} */

div.wp .img_box {position: relative;}
div.wp .img_box img {display: none;}
div.wp .img_box img.on {display: block;}
div.wp .img_box .home {width: 16%; height: 6.7%; position: absolute; left: 10%; bottom: 5.8%; cursor: pointer;}
div.wp .img_box .feed {width: 16%; height: 6.7%; position: absolute; left: 26.1%; bottom: 5.8%; cursor: pointer;}
div.wp .img_box .foru {width: 16%; height: 6.7%; position: absolute; left: 42%; bottom: 5.8%; cursor: pointer;}
div.wp .img_box .search {width: 16%; height: 6.7%; position: absolute; left: 58%; bottom: 5.8%; cursor: pointer;}
div.wp .img_box .library {width: 16%; height: 6.7%; position: absolute; left: 74%; bottom: 5.8%; cursor: pointer;}
div.wp .img_box .latest {width: 18%; height: 4%; position: absolute; left: 13%; top: 12.7%; cursor: pointer;}
div.wp .img_box .chart {width: 20%; height: 2.6%; position: absolute; left: 13%; top: 38.8%; cursor: pointer;}
div.wp .img_box p {text-align: center; font-size: 14px; position: absolute; left: 50%; bottom: 2.5%; transform: translateX(-50%); font-family: 'IM_Hyemin-Regular'; font-weight: bold;}
div.wp .img_box .fsbtnwrap {width: 540px; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); opacity: 0.3;}
div.wp .img_box .fsbtnwrap div {position: absolute; cursor: pointer;}
div.wp .img_box .fsbtnwrap #home {width: 108px; height: 82px; left: 0; bottom: 0;}
div.wp .img_box .fsbtnwrap #feed {width: 108px; height: 82px; left: 108px; bottom: 0;}
div.wp .img_box .fsbtnwrap #foru {width: 108px; height: 82px; left: 216px; bottom: 0;}
div.wp .img_box .fsbtnwrap #search {width: 108px; height: 82px; left: 324px; bottom: 0;}
div.wp .img_box .fsbtnwrap #library {width: 108px; height: 82px; left: 432px; bottom: 0;}
div.wp .img_box .fsbtnwrap #latest {width: 124px; height: 34px; left: 20px; top: 90px;}
div.wp .img_box .fsbtnwrap #chart {width: 132px; height: 30px; left: 20px; top: 404px;}
div.wp .txt_box {height: 1163px;}

@media screen and (max-width:1280px) {
    /* div.music .txt_box {height: 62.65625vw;} */
    div.wc .txt_box {height: 108.203125vw;}
    /* div.ani .txt_box {height: 30.46875vw;} */
    div.wp .txt_box {height: 90.859375vw;}
    div.tit section.con {border-bottom: 2px solid transparent;}
}

@media screen and (max-width:900px) {
    div.wm .img_box {width: 100%;}
    div.wm .img_box img {width: 90%; margin: 5% 0;}
    div.wm .txt_box {width: 100%; height: 700px; padding: 0;}
    div.wc .img_box {width: 100%;}
    div.wc .img_box img {width: 90%; margin: 5% 0;}
    div.wc .txt_box {width: 100%; height: 800px; padding: 0;}
    div.wa .img_box {width: 100%;}
    div.wa .img_box img {width: 90%; margin: 5% 0;}
    div.wa .txt_box {width: 100%; height: 350px;}
    div.wp .img_box {width: 100%;}
    div.wp .img_box img {width: 90%; margin: 5% 0;}
    div.wp .txt_box {width: 100%; height: 800px;}
    div.wp .img_box .home {width: 18%; height: 7.2%; left: 5%; bottom: 2.8%;}
    div.wp .img_box .feed {width: 18%; height: 7.2%; left: 23%; bottom: 2.8%;}
    div.wp .img_box .foru {width: 18%; height: 7.2%; left: 41%; bottom: 2.8%;}
    div.wp .img_box .search {width: 18%; height: 7.2%; left: 59%; bottom: 2.8%;}
    div.wp .img_box .library {width: 18%; height: 7.2%; left: 77%; bottom: 2.8%;}
    div.wp .img_box .latest {width: 20.3%; left: 8.3%; top: 10.3%;}
    div.wp .img_box .chart {width: 22%; left: 8.2%; top: 38.2%;}
    div.wp .img_box p {bottom: 1%;}
}

@media screen and (max-width:768px) {
    .background h1 {font-size: 10.4166vw;}
}

@media screen and (max-width:575px) {
    div.tit {height: auto;}
    div.tit section.con h2 {width: 60%;}
    div.wp .img_box p {bottom: 0%;}
}

@media screen and (max-width:315px) {
    div.wp .img_box p {width: 100%; bottom: -1%;}
}

@media screen and (max-width:299px) {
    div.tit section.con h2 {font-size: 13.3333vw;}
    div.tit section.con a {font-size: 10vw;}
    div.tit section.con > i.on {font-size: 13.3333vw;}
    div.wrap .txt_box section h3{font-size: 10vw;}
    div.wrap .txt_box section p{font-size: 6.6666vw;}
    div.wm .txt_box {height: 233.3333vw;}
    div.wc .txt_box {height: 266.6666vw;}
    div.wa .txt_box {height: 116.6666vw;}
    div.wp .txt_box {height: 266.6666vw;}
    div.tit section.con a:hover::after {font-size: 4.6666vw;}
    div.tit section.con > .fa-angle-up:hover::after {font-size: 4.6666vw;}
    div.tit section.con > .fa-angle-down:hover::after {font-size: 4.6666vw;}
}